<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
       integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
   crossorigin="anonymous">

   <link rel="icon" href="styles/img/bg.jpg">

   <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css">
   <link rel="stylesheet" href="styles/css.css">
   <link rel="stylesheet" href="styles/media.css">

   <title>payment</title>
</head>
<body>
    <div>
        <div class="leftside-manu">
            <h4 class="text-center text-uppercase">
                <a href="" class="text-capitalize">
                    <i class="fa fa-power-off"></i>
                    log out
                </a>
            </h4>
            <div class="stocks text-left">
                <ul>
                    <li>
                        <a href="dashboard.html" class="text-capitalize">
                            <i class="fa fa-check-circle"></i>
                            available item
                        </a>
                    </li>
                    <li>
                        <a href="newitem.html" class="text-capitalize">
                            <i class="fa fa-plus"></i>
                            add new item
                        </a>
                    </li>
                    <li>
                        <a href="companyorder.html" class="text-capitalize">
                            <i class="fa fa-truck"></i>
                            add new order
                        </a>
                    </li>
                    <li>
                        <a href="buyorder.html" class="text-capitalize">
                            <i class="fa fa-address-book"></i>
                            all order
                        </a>
                    </li>
                    <li>
                        <a href="sells.html" class="text-capitalize">
                            <i class="fa fa-list-ol"></i>
                            sells history
                        </a>
                    </li>
                    <li>
                        <a href="order.html" class="text-capitalize">
                            <i class="fa fa-list-alt"></i>
                            order
                        </a>
                    </li>
                    <li>
                        <a href="messages.html" class="text-capitalize">
                            <i class="fa fa-envelope"></i>
                            messages
                        </a>
                    </li>
                    <li>
                        <a href="payment.html" class="text-capitalize">
                            <i class="fa fa-credit-card"></i>
                            payments
                        </a>
                    </li>
                    <li>
                        <a href="newstaff.html" class="text-capitalize">
                            <i class="fa fa-user-circle"></i>
                            add new staff
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="site-bg">
            <div class="adminmenu">
                <div class="logo">
                    <a href="">Site Name</a>
                </div>

                <div class="bar">
                    <i class="fa fa-bars"></i>
                </div>
                
                <div class="search">
                    <form action="" method="" enctype="multipart/form-data">
                        <input type="text" placeholder="enter item name" class="m-3">
                        <button class="btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>

            <div class="col-md-12 p-3">
                <div class="col-md-12 top">
                    <div class="row">
                        <div class="">
                            <div class="card-body">
                              <h5 class="card-title text-capitalize text-center">
                                all orders from customer
                            </h5>

                              <div class="table-responsive">
                                <table
                                  id="zero_config"
                                  class="table table-striped table-bordered"
                                >
                                  <thead>
                                    <tr class="text-capitalize">
                                      <th>Name</th>
                                      <th>out number</th>
                                      <th>amount</th>
                                      <th>date/ time</th>
                                      <th>status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="text-capitalize">
                                      <td>house</td>
                                      <td>345678</td>
                                      <td>75000</td>
                                      <td>2009/09/15</td>
                                      <td>success</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Bootstrap JS -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
   integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
   crossorigin="anonymous">
 </script>

<!-- for local js -->
<script src="styles/js.js"></script>
