{% extends 'links.html' %}
{% load static %}
{% block content %}
<body>
    <div>
        <div class="login_banner">
            <img src="{% static 'img/bg.jpg' %}" alt="">
            <div class="login_banner-inner">
                <div class="col-md-12 text-center">
                    <div class="login_notice">
                        <div class="login_notice-info" style="margin-top: -40px;">
                            <div class="row">
                                <div class="card">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <h4 class="card-title text-capitalize text-center">sign up here <br>
                                                <a href="{% url 'login' %}">i have an account</a>
                                            </h4>
                                            {% for message in messages %}
                                            <div class="col-md-12">
                                                <div class="alert-info p-3 text-center text-capitalize">
                                                    <p>{{message}}</p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="text-capitalize text-dark">
                                                <div class="col-md-6">
                                                    <h5 class="form-horizontal text-left">user name</h5>
                                                    <input type="text" class="form-control" placeholder="enter user name" name="username" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <h5 class="form-horizontal text-left">first name</h5>
                                                    <input type="text" class="form-control" placeholder="enter first name" name="firstname" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <h5 class="form-horizontal text-left">last name</h5>
                                                    <input type="text" class="form-control" placeholder="enter last name" name="lastname" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <h5 class="form-horizontal text-left">phone number</h5>
                                                    <input type="text" class="form-control" placeholder="enter phone number" name="number" required>
                                                </div>
                                                <div class="col-md-12">
                                                    <h5 class="form-horizontal text-left">gender</h5>
                                                    <input type="text" class="form-control" placeholder="enter gender" name="gender" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <h5 class="form-horizontal text-left">password</h5>
                                                    <input type="password" class="form-control" placeholder="create password" name="password1" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <h5 class="form-horizontal text-left">confirm password</h5>
                                                    <input type="password" class="form-control" placeholder="confirm password" name="password2" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="card-body text-left">
                                                <button class="btn btn-primary">Create Staff</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</body>

{% endblock %}
